body {
    margin: 0;
    padding: 0;
    background-color: #013565;
    color: #fff;
}
nav {
    background-color: #051729d7;
    position: fixed;
    width: 100%;
    top: 0;
}
/* Estilos personalizados para o botão SAIR */
.btn-voltar {
    color: #013565; /* Cor do texto branca */
    font-weight: bold; /* Peso da fonte em negrito */
}
.white-svg {
    filter: invert(100%); /* Inverte as cores da imagem para branco */
}
.table td, .table th {
    border-top: none; /* Remove as bordas das células */
    color: #c79500; /* Cor dos itens */
    vertical-align: middle; /* Alinhamento vertical central */
}
.table td img {
    margin-right: -20px; /* Espaçamento entre a imagem e o texto */
}
.table tr td {
    transition: border-color 0.3s; /* Transição suave para a cor da borda */
}
.table tr:hover td {
    border-color: transparent; /* Remove a linha de borda ao passar o mouse sobre a linha */
}
.table tr td a {
    text-decoration: none; /* Remove o sublinhado padrão */
    color: #c79500; /* Cor do texto dos links */
    transition: color 0.3s; /* Transição suave para a cor do texto */
}
.table tr td a:hover {
    color: #fff; /* Cor do texto dos links ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
.table tr:hover td:not(:first-child) {
    border-color: #fff; /* Cor da borda ao passar o mouse sobre o texto do link */
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
    color: white;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
.hr-white {
    border-top: 1px solid #fff; /* Linha branca */
    margin-top: 20px; /* Espaçamento superior */
    margin-bottom: 20px; /* Espaçamento inferior */
}
.container {
    max-width: 600px; /* Largura máxima do container */
}


@media only screen and (max-device-width: 900px) {

h3 { font-size: 16px; }
}
@media only screen and (max-device-width: 900px) {
h3 { font-size: 20px; }
}
@media only screen and (max-width: 600px) {
.white-svg {
margin-left: 120px;
height: 35px;

}
}