body, html {
    margin: 0;
    padding: 0;
    background-color: #013565;
    overflow: hidden; 
}

.iframe-container {
    width: 100%;
    height: 100vh;
    background-color: #013565;
    z-index: 0;
    position: absolute;
    overflow: hidden;
     

}
@media only screen and (max-device-width: 1366px) {
.iframe-container{width: 100%;}
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #013565;
    margin:  0 auto 0; /* Removida a margem superior */
    display: block;
    position: absolute;
    touch-action: none; /* Desativa o zoom dentro do iframe em dispositivos móveis */
    z-index: 100;
    border: none;
    overflow: hidden;
                
}

/* Ajuste para a barra de navegação */
.navbar {
    background-color: #051729d7;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999; /* Coloca a barra de navegação sobre o iframe */
}
.menu {
    position: fixed;
    width: 100%;
    top: 0;
    display: none;
    z-index: 999; /* Coloca a barra de navegação sobre o iframe */
}

.bar-sup-aux {
    top: 0;
    width: 71px;
    height: 38px;
    position: absolute;
    background-color: #152C5A;
    z-index: 99999;
    display: none;
}
.bar-esquerda {
    width: 2px;
    height: 100vh;
    position: absolute;
    background-color: #152C5A;
    z-index: 99;
}
.bar-direita {
     width: 14px;
     height: 100vh;
     right: 0;
     position: absolute;
     background-color: #013565;
     z-index: 98;
}

/* Estilos personalizados para o botão SAIR */
.voltaricon {
    margin-right: 19px; 
    cursor: pointer;
}
.voltaricon2 {
    margin-right: 40px; 

}
.homeicon {
    margin-right: 10px; 
    cursor: pointer;
 
}
.homeicon2 {
    margin-right: 50px; 
    display: none;
 
}
.pontosicon {
    margin-right: 16px; 
    opacity: 0.4;
 
}
.pontosicon2 {
    margin-right: 40px; 
 
}

.btn-sair {
    color: #fff; 
    font-weight: bold;
    margin-right: 20px; 
}
.seta-menu {
    width: 20px;
    height: auto;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
}
.seta-menu2 {
    width: 20px;
    height: auto;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    display: none;
}
.rodape {
    background-color: #013565;
    position: fixed;
    width: 100%;
    height: 73px;
    bottom: 0;
    display: block;
    z-index: 999999;
    
}