        /* Estilos gerais */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            -webkit-font-smoothing: antialiased; /* Para Chrome no macOS */
            -moz-osx-font-smoothing: grayscale; /* Para Firefox no macOS */
            transition: all 0.3s ease; /* Suaviza todas as propriedades */
        }

        p{
            color: #eeeeee;
        }

        #content {
            transition: opacity 0.5s ease-in-out;
            opacity: 1;
            display: flex;
        }
        
        #content.fadeOut {
            opacity: 0;
        }
        
        body {
            display: flex;
            height: 100vh;
            background-color: #090909;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            -webkit-font-smoothing: antialiased; /* Para Chrome no macOS */
            -moz-osx-font-smoothing: grayscale; /* Para Firefox no macOS */
            transition: all 0.3s ease; /* Suaviza todas as propriedades */
        }

        .topbar .user-profile span {
            font-size: 0.65em;
            color: #c9d6e4;
            font-weight: bold;
        }


        /* Style for the "Logado há" text */
        .topbar .user-profile #tempo-logado {
            font-size: 0.70em;
            color: #c9d6e4;
            margin-left: 10px;
        }

        /* Barra lateral */
        .sidebar {
            background-color:  #191919;
            width: 65px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            transition: width 0.3s, height 0.3s;
            position: relative;
            height: 100vh;
        }

        .sidebar.expanded {
            width: 180px;
        }

        .sidebar .toggle-btn {
            background: none;
            border: none;
            color: #fff;
            cursor: pointer;
            margin-bottom: 20px;
            font-size: 1.5em;
            transition: transform 0.3s;
        }

        .sidebar i {
            color: #fff;
            font-size: 1em;
            margin: 20px 0;
        }

        .menu-text a {
            color: #fff;
            font-size: 1em;
            text-decoration: none; /* Se você quiser remover o sublinhado padrão */
        }
        
        .menu-text a:visited {
            color: #fff;
            font-size: 1em;
            text-decoration: none;
        }
        
        .sidebar.expanded i {
            text-align: left;
            width: 100%;
            padding-left: 20px;
        }

        /* Card dentro da sidebar */
        .sidebar .card {
            height: 120px;
            /* Altura inicial do card */
            overflow: hidden;
            /* Esconde o conteúdo extra */
            transition: height 0.3s ease;
            /* Transição suave */
        }

        .sidebar .submenu-card {
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease;
            /* Animação de fade-in */
            padding: 10px;
        }

        /* Ocultar textos do menu quando a barra lateral está recolhida */
        .menu-text {
            display: none;
        }

        /* Mostrar textos ao lado dos ícones quando a barra lateral está expandida */
        .sidebar.expanded .menu-text {
            display: inline;
            /* Mostrar texto quando a sidebar estiver expandida */
            margin-left: 10px;
            font-size: 0.75em;
            /* Tamanho reduzido */
            color: #ddd;
            /* Cor mais discreta */
            font-weight: normal;
        }

        /* Área principal */
        .main-content {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        /* Barra de navegação superior */
        .topbar {
            background-color: #222222;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }

        .topbar .user-profile {
            display: flex;
            align-items: center;
        }

        .topbar .user-profile #tempo-logado {
            font-size: 0.70em;
            color: #666e80;
            font-weight: bold;
            margin-right: 10px;
        }

        .topbar .user-profile #user-name {
            font-size: 0.70em;
            color: #9499a5;
            font-weight: bold;
            margin-right: 10px;
        }

        .topbar .user-profile img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        /* Style for the vertical separator */
        .vertical-separator {
            border-left: 1px solid transparent;
            height: 20px;
            margin: 0 10px;
        }

        .vertical-separator_2 {
            border-left: 2px dotted #6eabcabb;
            height: 50px;
            margin: 0 10px;
        }

        .submenu-logout {
            display: none;
            position: absolute;
            top: 50px;
            right: 10px; /* Adjusted from 0 to 10px to move it left */
            background-color: #0d2b45;
            border: 1px solid #0a243a;
            border-radius: 5px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px; /* Reduced from 30px */
            width: 200px; /* Reduced from 220px */
            z-index: 10;
        }
        

        .submenu-logout a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #363d4c;
            padding: 5px 10px;
            font-size: 0.85em;
            transition: background-color 0.2s;
        }

        .submenu-logout a:hover {
            background-color: #f8f9fa;
        }
            /* Botões do submenu */
    .submenu-item {
        background: none;
        border: none;
        padding: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
        text-align: left;
        color: #95bdca;
        border-radius: 6px;
        transition: background-color 0.2s ease, color 0.2s ease;
    }

            /* Hover: fundo cinza claro e bordas arredondadas */
    .submenu-item:hover {
        background-color: #051524; /* Cinza claro */
        color: #95bdca;
    }

        .submenu-item i {
            margin-right: 5px;
            color: #d7e9ec;
        }
        .submenu_fila {
            display: none;
            position: absolute;
            top: -110%;
            right: 0;
            background-color: #0d2b45;
            border: 1px solid #0a243a;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 220px;
            padding: 10px;
            z-index: 100;
        }

        .submenu-items {
            display: flex;
            align-items: center;
            padding: 8px 10px;
            background: none;
            border: none;
            cursor: pointer;
            width: 100%;
            text-align: left;
            font-size: 14px;
            color: #95bdca;
            border-radius: 6px;
            transition: background-color 0.2s ease, color 0.2s ease;
        }

                    /* Hover: fundo cinza claro e bordas arredondadas */
    .submenu-items:hover {
        background-color: #051524; /* Cinza claro */
        color: #95bdca;
    }

        .submenu-items i {
            margin-right: 5px;
            color: #d7e9ec;
        }



        /* Conteúdo principal */
        .content {
            padding: 20px;
        }

        /* Estilização do dropdown e submenu */
        .menu-item .menu-text {
            cursor: pointer;
            /* Cursor pointer ao passar sobre o texto */
        }

        /* Alinhamento e estrutura do submenu */
        .menu-item.dropdown {
            display: flex;
            align-items: center;
            flex-direction: column;
            /* Mantém o conteúdo alinhado à esquerda */
            width: 100%;
        }

        .menu-item.dropdown-rh {
            display: flex;
            align-items: center;
            flex-direction: column;
            /* Mantém o conteúdo alinhado à esquerda */
            width: 100%;
        }

        .submenu {
            display: none;
            /* Oculto por padrão */
            flex-direction: column;
            padding-left: 20px;
            font-size: 0.8em;
            color: #ddd;
        }

        .submenu a {
            color: #ddd;
            text-decoration: none;
            padding: 5px 0;
            display: block;
        }

        /* Exibir submenu quando a barra estiver expandida */
        .sidebar.expanded .menu-item.active .submenu {
            display: flex;
            /* Mostra o submenu */
        }

        /* Garante que os ícones do menu principal fiquem alinhados à esquerda */
        .sidebar .menu-item i,
        .sidebar .menu-item .menu-text {
            display: inline-flex;
            align-items: center;
        }

        /* O texto do menu será ocultado quando o menu estiver recolhido */
        .sidebar .menu-text {
            display: none;
            /* Oculta o texto por padrão */
        }

        /* Exibe o texto quando o menu estiver expandido */
        .sidebar.expanded .menu-text {
            display: inline-block;
        }

        /* CSS para o menu ativo */
        .sidebar i.active {
            color: #fff;
            /* Cor roxa de destaque */
            background-color: #0e2b50;
            /* Fundo escuro ao redor do ícone */
            border-radius: 8px;
            /* Deixa o fundo arredondado */
            padding: 8px;
            /* Espaçamento interno */
        }

        /* CSS para o efeito de hover */
        .sidebar i:hover {
            color: #fff;
            /* Cor roxa de destaque */
            background-color: #0e2b50;
            /* Fundo escuro ao redor do ícone */
            border-radius: 8px;
            /* Deixa o fundo arredondado */
            padding: 8px;
            cursor: pointer;
            /* Espaçamento interno */
        }

        .submenu a:hover {
            color: #fff;
            /* Cor roxa de destaque */
            background-color: #0e2b50;
            /* Fundo escuro ao redor do ícone */
            border-radius: 8px;
            /* Deixa o fundo arredondado */
            padding: 8px;
            /* Espaçamento interno */
        }

        .sidebar i {
            transition: all 0.3s ease;
        }

        /* Evitar efeito de hover no ícone com o id "toggle-icon" */
        #toggle-icon:hover {
            color: inherit;
            /* Não altera a cor do ícone */
            background-color: inherit;
            /* Não altera o fundo */
            padding: inherit;
            /* Não altera o padding */
            border-radius: inherit;
            /* Não altera o border-radius */
        }

        .sidebar .menu-text {
            color: #697891;

        }

        .sidebar i.active .menu-text {
            color: #ffffff;
            /* Cor do texto ao estar ativo */
        }

        /* Rodapé no final da sidebar */
        .footer {
            display: none;
            /* Ocultar por padrão */
            font-size: 0.6em;
            /* Tamanho menor */
            color: #ddd;
            text-align: center;
            padding: 10px;
            position: absolute;
            bottom: 10px;
            /* Posicionar no final */
            width: 100%;
            /* Ocupa toda a largura da sidebar */
        }

        .sidebar.expanded .footer {
            display: block;
            /* Exibir apenas quando expandido */
        }

        .toggle-btn {
            display: flex;
            align-items: center;

        }

        .dropdown-menu{
            z-index: 9999 !important;
        }

        #toggle-icon {
            margin-right: 5px;
            /* Espaçamento entre a seta e o texto */
        }

        /* Estilos para o conteúdo principal */
        .content {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 20px;
        }
        .dropdown-menu {
            position: absolute;
            z-index: 1050;
        }
        
        /* Estilo do painel */
        .panel {
            background-color: #0b1830e7;
            border: 1px solid #03091a;
            border-radius: 8px;
            padding: 16px;
            z-index: 1;
        }

        .panel2 {
            background-color: #191919;
            border-radius: 10px;
            border: 1px solid #2d2d2e;
            padding: 16px;
            z-index: 2;
        }

        form{
            background-color: #191919;
        }

        .form-label{
            color: #d8e2e8;
        }

        .bg-custom{
            background-color: #191919 !important;
        }
        
        .row {
            background-color: #191919;
        }

        .form-header {
            font-weight: bold;
            color: #2195fa;
        }

        /* Estilo do título do painel */
        .panel h2 {
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 8px;
            color: #fff;
        }

        .panel2 h2 {
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 8px;
            color: #dae3e6;
        }
        /* Estilo para o novo painel abaixo de Favoritos */
        .custom-panel {
            margin-top: 20px;
            padding: 20px;
            padding-top: 10px;
            background-color: #191919;
            border-radius: 10px;
            border: 1px solid #2d2d2e;
            max-height: 220px;
        }


        .custom-panel h2 {
            font-size: 20px;
            color: #333;
            margin-bottom: 15px;
            font-weight: bold;
            text-align: center;
        }

        .custom-panel h2 {
            font-size: 20px;
            color: #dae3e6;
            margin-bottom: 15px;
            font-weight: bold;
            text-align: center;
        }
        /* Estilos dos favoritos */
        .favorites {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            /* Define um pequeno espaço entre os cards */
            padding: 20px 0;
            position: relative;
            z-index: 3;


        }

        .fv-item-fomr{
            background: none;
        }

        .favorite-item {
            flex: 1;
            max-width: 300px;
            background: linear-gradient(to right, #3b0fa8, #270777);
            color: #ffffff;
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            font-size: 18px;
            font-weight: bold;
            transition: height 0.3s ease;
            box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.316);
            cursor: pointer;
            position: relative;
            overflow: hidden;
            height: 120px;

        }

        .favorite-item i {
            font-size: 24px;
            margin-bottom: 10px;
            display: block;
        }

        .favorite-item:hover {
            background: linear-gradient(to right, #310b91, #1f0560);
            color: #fff;
        }

        .favorite-item a {
            color: inherit; /* Herda a cor inicial da div */
        }
        .favorite-item:hover a {
            color: white; /* Cor do link em branco no hover */
        }

        .favorite-item p {
            font-size: 16px;
            margin: 0;
        }


        /* Estilo para o submenu oculto */
        .submenu-card {
            opacity: 0;
            transition: opacity 0.3s ease;
            margin-top: 15px;
            display: none;
            padding-bottom: 10px;

        }

        .submenu-card a {
            display: block;
            color: #e0e0e0;
            text-decoration: none;
            margin: 5px 0;
            font-size: 14px;

        }

        .submenu-card a:hover {
            text-decoration: none;
            color: #fff;
        }


        /* Estilo para os cards dentro do painel */
        .service-cards {
            display: flex;
            gap: 20px;
            justify-content: space-around;
        }

        .service-card {
            width: 250px;
            height: 150px;
            text-align: center;
            padding: 0;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }


        .service-card:hover {
            transform: translateY(-10px);
        }

        .service-card h3 a {
            font-size: 16px;
            color: #333;
            text-decoration: none;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .service-card h3 a:hover {
            text-decoration: underline;

        }

        .service-card img {
            margin-top: 0px;
            width: 100%;
            height: auto;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            display: block;

        }

        .text-card {
            font-size: 0.9em;
            color: #465055;
            text-align: left;
            text-wrap: balance;
        }


        h2 {
            color: #465660;
            font-size: 1.8em;
        }

        .info {
            font-size: 0.65em;
            color: #aaa;
            margin-left: 10px;
            margin-top: 4px;
        }

        .right-info {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .header-container {
            padding: 5px 10px; /* Ajuste o padding dentro do cabeçalho para ser mais compacto */
        }
        
        .button-container button {
            padding: 5px 10px; /* Reduz o padding dos botões para deixá-los menores */
            font-size: 0.875rem; /* Ajusta o tamanho da fonte para se adequar ao novo layout */
            margin-right: 5px;
        }

        .custom-file-upload {
            cursor: pointer;
            color: #007bff; /* Cor do texto */
            text-decoration: underline; /* Para parecer um link, se desejar */
            font-size: 16px;
            margin-top: 10px;
            display: inline-block;
        }
        
        /* Esconde o input de arquivo real */
        #fileUpload {
            display: none;
        }
        
        /* Estilo do chatbox */
#chatbox {
    display: none; /* Inicialmente oculto */
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 400px;
    height: 400px;
    background-color: #191919;
    border: 1px solid #060608;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#chatbox-header {
    background-color: #0b1830e7;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#chatbox-content {
    padding: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

#chatbox-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ddd; /* Cor de fundo caso não tenha imagem */
    display: inline-block;
    overflow: hidden;
}

#chatbox-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem preencha corretamente */
    border-radius: 50%; /* Garante que a imagem também siga o formato circular */
}



#chatbox-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
}
#chatbox-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #141c35;
    background-color: #272d39;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#user-input {
    flex: 1; /* O input ocupa o espaço restante */
    padding: 6px;
    border: 1px solid #0d122c;
    background-color: #03091a;
    color: #fff;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
    margin-right: 10px; /* Espaço entre o input e o botão */
}

#send-btn {
    cursor: pointer;
    font-size: 20px;
    color: #007bff;
    display: flex; /* Garante que o ícone centralize em flexbox */
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    background: none; /* Remove o fundo padrão */
}


/* Estilos do contêiner de mensagens */
#chatbox-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #2f3543;
    border-bottom: 1px solid #ddd;
    height: calc(100% - 60px); /* Ajusta altura para ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Garante que as mensagens fiquem no final */
}

/* Mensagens */
.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.message .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.message .text {
    background-color: #10365b;
    color: #fff;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 14px;
    max-width: 70%;
    word-wrap: break-word;
}

.message.user .text {
    background-color: #007bff;
    color: #fff;
    margin-left: auto; /* Alinha à direita */
}
